#index{background-color:#A9A9A9;}
#desafio1{background-color:#FFA07A;}
#desafio2{background-color:#F4A460;}
/**acima está as cores de fundo do site e suas paginas secundarias**/
#div1{background-color:#87CEEB ;height:150px;}
#div2{background-color:#ADD8E6 ;height:150px;}
#div3{background-color:#4682B4 ;height:150px;} 
/**trabalho numero 5 usando o css externo**/



