/** Ajustando as margens **/

    body{margin-top: 2.5%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;}
/**Estilo de texto**/

p{text-align: justify;}

/**Alinhamento central**/

.central{text-align: center}
/**Decoração e outros itens**/ 
ul{padding: 20px}

ul li {margin: 5px;}