body{margin-top: 2.5%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;}
/** Ajustando as margens **/
p{text-align: justify;}
/**Alinhamento central**/
.central{text-align: center}
/**Trabalho 1-essa tag centraliza tudo ao centro**/
