body{margin-top: 2.5%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;}
/**Tag margin está divido como a relação de sen e cos em uma circufencia,ou seja,
margin top está relacionado com margin bottom e margin right está realcionado com 
margin left **/
p{text-align: justify;}
/**Alinhamento central...como um quadrado**/
.central{text-align: center}
/**Trabalho 1-essa tag centraliza tudo ao centro**/
